.profileWrap {
  width: 500px;
  height: 504px;
  border: 3px grey solid;
  margin: auto;
  margin-bottom: 50px;
  background-color: #f3f6f9;
}

.profile {
  width: 250px;
  height: 332px;
  background-color: #fff;
  border: 1px solid #e4e9f0;
  margin: 86px auto;
  border-radius: 4px;
}
