.description {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.avatar {
  display: block;
  margin: auto;
  border-radius: 50%;
}

.name {
  font-size: 18px;
  color: #122236;
  font-family: 'Lato';
  font-weight: 700;
}

.tag,
.location  {
  color: #768696;
  font-size: 14px;
}
